In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
path = "day2_cleaned.csv"
df = pd.read_csv(path)
print(df.head())
# print(df.info())

                                      company  \
0                            MM Media Pvt Ltd
1                          find live infotech
2         Softtech Career Infosystem Pvt. Ltd
3                      Onboard HRServices LLP
4  Spire Technologies and Solutions Pvt. Ltd.

                                           education   experience  \
0  UG: B.Tech/B.E. - Any Specialization PG:Any Po...    0 - 1 yrs
1  UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...    0 - 0 yrs
2  UG: Any Graduate - Any Specialization PG:Any P...    4 - 8 yrs
3  UG: Any Graduate - Any Specialization PG:CA Do...  11 - 15 yrs
4  UG: B.Tech/B.E. - Any Specialization PG:Any Po...    6 - 8 yrs

                                   industry  \
0          Media / Entertainment / Internet
1  Advertising / PR / MR / Event Management
2           IT-Software / Software Services
3    Banking / Financial Services / Broking
4           IT-Software / Software Services

                                         description         jobid  \
0  Job Description   Send me Jobs like this Quali...  210516002263
1  Job Description   Send me Jobs like this Quali...  210516002391
2  Job Description   Send me Jobs like this - as ...  101016900534
3  Job Description   Send me Jobs like this - Inv...   81016900536
4  Job Description   Send me Jobs like this Pleas...  120916002122

                                            location  \
0                                            Chennai
1                                            Chennai
2                                          Bengaluru
3  Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...
4                                          Bengaluru

                                  job_title  num_positions  \
0  Walkin Data Entry Operator (night Shift)            NaN
1        Work Based Onhome Based Part Time.           60.0
2                    Pl/sql Developer - SQL            NaN
3    Manager/ad/partner - Indirect Tax - CA            NaN
4           JAVA Technical Lead (6-8 yrs) -            4.0

                           salary                date_posted source  \
0         1,50,000 - 2,25,000 P.A  2016-05-21 19:30:00 +0000    NaN
1  1,50,000 - 2,50,000 P.A. 20000  2016-05-21 19:30:00 +0000    NaN
2      Not Disclosed by Recruiter  2016-10-13 16:20:55 +0000    NaN
3      Not Disclosed by Recruiter  2016-10-13 16:20:55 +0000    NaN
4      Not Disclosed by Recruiter  2016-10-13 16:20:55 +0000    NaN

                                  skills                                id  \
0                                   ITES  43b19632647068535437c774b6ca6cf8
1                              Marketing  d4c72325e57f89f364812b5ed5a795f0
2  IT Software - Application Programming  c47df6f4cfdf5b46f1fd713ba61b9eba
3                               Accounts  115d28f140f694dd1cc61c53d03c66ae
4  IT Software - Application Programming  a12553fc03bc7bcced8b1bb8963f97b4

   salary_cleaned                       job_title_cleaned
0        187500.0  Walkin Data Entry Operator Night Shift
1        200000.0       Work Based Onhome Based Part Time
2             NaN                       Software Engineer
3             NaN        Manageradpartner Indirect Tax Ca
4             NaN                          Java Developer

# Location normalization

In [3]:
print(df["location"].value_counts().head(20))

location
Bengaluru/Bangalore                                         3775
Mumbai                                                      2348
Bengaluru                                                   1453
Hyderabad / Secunderabad                                    1246
Chennai                                                     1204
Hyderabad                                                    936
Noida                                                        775
Delhi                                                        763
Gurgaon                                                      743
Mumbai , Mumbai                                              514
Delhi/NCR(National Capital Region)                           383
Bengaluru/Bangalore , Bengaluru / Bangalore                  360
Delhi , Delhi                                                324
Noida , Noida/Greater Noida                                  313
Gurgaon , Gurgaon                                            148
Bengaluru/Bangalore , Chennai , Hyderabad / Secunderabad     118
Ghaziabad                                                    102
Bengaluru/Bangalore , Hyderabad / Secunderabad               101
Bengaluru, Hyderabad                                          87
Delhi/NCR(National Capital Region) , Gurgaon                  83
Name: count, dtype: int64

In [39]:
import re

df["location_clean"] = df["location"].str.lower().str.strip()
df["location_clean"] = df["location"].str.replace(r'[/|]', ',', regex=True)
df["location_clean"] = df["location"].str.replace(r'\s*,\s*', ',', regex=True)
df["location_clean"] = df["location"].str.replace(r'\s+', ' ', regex=True)
df["location_clean"] = df["location_clean"].str.split(",")


# 1. Define a mapping for normalization
city_mapping = {
    "Bengaluru/Bangalore": "Bangalore",
    "Bengaluru": "Bangalore",
    "Bengaluru / Bangalore": "Bangalore",
    "Bangalore": "Bangalore",
    "Delhi/NCR(National Capital Region)": "Delhi NCR",
    "Delhi , Delhi": "Delhi",
    "Mumbai , Mumbai": "Mumbai",
    "Hyderabad / Secunderabad": "Hyderabad",
    "Noida , Noida/Greater Noida": "Noida",
    "Gurgaon , Gurgaon": "Gurgaon",
    "Bengaluru": "Bangalore",
    "Bangalore": "Bangalore",
    "Hyderabad / Secunderabad": "Hyderabad",
    "Secunderabad": "Hyderabad",
    "Delhi/NCR(National Capital Region)": "Delhi NCR",
    "Delhi, NCR(National Capital Region)": "Delhi NCR",
    "Delhi , Delhi": "Delhi",
    "Mumbai , Mumbai": "Mumbai",
    "Noida , Noida/Greater Noida": "Noida",
    "Greater Noida": "Noida",
    "Gurgaon , Gurgaon": "Gurgaon",

    
}


def normalize_city_list(city_entry):
    cleaned = []
    for city in city_entry:
        city = city.strip()
        if not city: 
            continue
        # Normalize using mapping
        if city in city_mapping:
            cleaned.append(city_mapping[city])
        else:
            cleaned.append(city)
    return sorted(set(cleaned))

# Apply again
df["location_clean"] = df["location"].fillna("").apply(lambda x: re.split(r"[,/]", x))
df["location_clean"] = df["location_clean"].apply(normalize_city_list)
df["location_clean"] = df["location_clean"].apply(lambda x: ", ".join(x) if x else None)

# Check again
print(df['location_clean'].value_counts().head(20))

location_clean
Bangalore                                       5619
Mumbai                                          2862
Hyderabad                                       2231
Chennai                                         1214
Noida                                           1106
Delhi                                           1087
Gurgaon                                          891
Delhi, NCR(National Capital Region)              463
Bangalore, Chennai, Hyderabad                    284
Bangalore, Hyderabad                             275
Bangalore, Chennai                               170
Bangalore, Mumbai                                131
Delhi, Gurgaon, NCR(National Capital Region)     122
Ghaziabad                                        111
Chennai, Hyderabad                                87
Mumbai, Pune                                      85
Bangalore, Chennai, Mumbai                        83
Bangalore, Gurgaon                                77
Delhi, NCR(National Capital Region), Noida        74
Bangalore, Mumbai, Pune                           74
Name: count, dtype: int64

In [40]:
print(df["location"].value_counts().head(20))

location
Bengaluru/Bangalore                                         3775
Mumbai                                                      2348
Bengaluru                                                   1453
Hyderabad / Secunderabad                                    1246
Chennai                                                     1204
Hyderabad                                                    936
Noida                                                        775
Delhi                                                        763
Gurgaon                                                      743
Mumbai , Mumbai                                              514
Delhi/NCR(National Capital Region)                           383
Bengaluru/Bangalore , Bengaluru / Bangalore                  360
Delhi , Delhi                                                324
Noida , Noida/Greater Noida                                  313
Gurgaon , Gurgaon                                            148
Bengaluru/Bangalore , Chennai , Hyderabad / Secunderabad     118
Ghaziabad                                                    102
Bengaluru/Bangalore , Hyderabad / Secunderabad               101
Bengaluru, Hyderabad                                          87
Delhi/NCR(National Capital Region) , Gurgaon                  83
Name: count, dtype: int64

In [36]:
print(df["location_clean"].value_counts().head(20))

location_clean
Bangalore                                       5619
Mumbai                                          2862
Hyderabad, Secunderabad                         1295
Chennai                                         1214
Delhi                                           1087
Hyderabad                                        936
Gurgaon                                          891
Noida                                            783
Delhi, NCR(National Capital Region)              463
Greater Noida, Noida                             316
Bangalore, Chennai, Hyderabad, Secunderabad      177
Bangalore, Chennai                               170
Bangalore, Hyderabad, Secunderabad               148
Bangalore, Mumbai                                131
Bangalore, Hyderabad                             127
Delhi, Gurgaon, NCR(National Capital Region)     122
Ghaziabad                                        111
Bangalore, Chennai, Hyderabad                    107
Mumbai, Pune                                      85
Bangalore, Chennai, Mumbai                        83
Name: count, dtype: int64

In [41]:
!git add .

In [42]:
! git commit -m "DAY-3(Extended)"

[main 268d067] DAY-3(Extended)
 2 files changed, 294 insertions(+), 29 deletions(-)

In [46]:
df.drop(columns=["location"], inplace= True)

KeyError: "['location'] not found in axis"

In [43]:
df.to_csv("day3_cleaned.csv", index=False)