# DAY-2

In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
path = "day1_cleaned.csv"
df = pd.read_csv(path)
print(df.head())
print(df.info())

                                      company  \
0                            MM Media Pvt Ltd
1                          find live infotech
2         Softtech Career Infosystem Pvt. Ltd
3                      Onboard HRServices LLP
4  Spire Technologies and Solutions Pvt. Ltd.

                                           education   experience  \
0  UG: B.Tech/B.E. - Any Specialization PG:Any Po...    0 - 1 yrs
1  UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...    0 - 0 yrs
2  UG: Any Graduate - Any Specialization PG:Any P...    4 - 8 yrs
3  UG: Any Graduate - Any Specialization PG:CA Do...  11 - 15 yrs
4  UG: B.Tech/B.E. - Any Specialization PG:Any Po...    6 - 8 yrs

                                   industry  \
0          Media / Entertainment / Internet
1  Advertising / PR / MR / Event Management
2           IT-Software / Software Services
3    Banking / Financial Services / Broking
4           IT-Software / Software Services

                                         description         jobid  \
0  Job Description   Send me Jobs like this Quali...  210516002263
1  Job Description   Send me Jobs like this Quali...  210516002391
2  Job Description   Send me Jobs like this - as ...  101016900534
3  Job Description   Send me Jobs like this - Inv...   81016900536
4  Job Description   Send me Jobs like this Pleas...  120916002122

                                            location  \
0                                            Chennai
1                                            Chennai
2                                          Bengaluru
3  Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...
4                                          Bengaluru

                                  job_title  num_positions  \
0  Walkin Data Entry Operator (night Shift)            NaN
1        Work Based Onhome Based Part Time.           60.0
2                    Pl/sql Developer - SQL            NaN
3    Manager/ad/partner - Indirect Tax - CA            NaN
4           JAVA Technical Lead (6-8 yrs) -            4.0

                           salary                date_posted source  \
0         1,50,000 - 2,25,000 P.A  2016-05-21 19:30:00 +0000    NaN
1  1,50,000 - 2,50,000 P.A. 20000  2016-05-21 19:30:00 +0000    NaN
2      Not Disclosed by Recruiter  2016-10-13 16:20:55 +0000    NaN
3      Not Disclosed by Recruiter  2016-10-13 16:20:55 +0000    NaN
4      Not Disclosed by Recruiter  2016-10-13 16:20:55 +0000    NaN

                                  skills                                id  \
0                                   ITES  43b19632647068535437c774b6ca6cf8
1                              Marketing  d4c72325e57f89f364812b5ed5a795f0
2  IT Software - Application Programming  c47df6f4cfdf5b46f1fd713ba61b9eba
3                               Accounts  115d28f140f694dd1cc61c53d03c66ae
4  IT Software - Application Programming  a12553fc03bc7bcced8b1bb8963f97b4

   salary_cleaned
0        187500.0
1        200000.0
2             NaN
3             NaN
4             NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company         22000 non-null  object
 1   education       20004 non-null  object
 2   experience      22000 non-null  object
 3   industry        22000 non-null  object
 4   description     22000 non-null  object
 5   jobid           22000 non-null  int64
 6   location        21499 non-null  object
 7   job_title       22000 non-null  object
 8   num_positions   4464 non-null   float64
 9   salary          21903 non-null  object
 10  date_posted     21977 non-null  object
 11  source          3987 non-null   object
 12  skills          21472 non-null  object
 13  id              22000 non-null  object
 14  salary_cleaned  4428 non-null   float64
dtypes: float64(2), int64(1), object(12)
memory usage: 2.5+ MB
None

In [73]:
df.rename(columns = {'joblocation_address': 'location',
                    'jobtitle': 'job_title',
                    'jobdescription': 'description',
                    'numberofpositions': 'num_positions',
                    'payrate': 'salary',
                    'postdate': 'date_posted',
                    'site_name': 'source',
                    'uniq_id': 'id'}, inplace=True)

## Let’s clean job titles step by step so they’re normalized and grouped properly.

In [74]:
df["job_title_cleaned"] = df["job_title"].str.lower()
df["job_title_Cleaned"] = df["job_title_cleaned"].str.replace(r'[^a-z0-9\s]', '', regex=True)
df["job_title_cleaned"] = df["job_title_cleaned"].str.strip()

In [75]:
data_scientist_jobs = df['job_title_cleaned'][df['job_title_cleaned'].str.startswith('data scientist', na=False)]
print(data_scientist_jobs.unique())

['data scientist / bangalore'
 'data scientist/vba programming/r programming/fmcg-cpg/bangalore'
 'data scientist - machine learning'
 'data scientist partners for start-up' 'data scientist'
 'data scientist-machine learning' 'data scientist big data ml'
 'data scientist (machine learning)' 'data scientist machine learning'
 'data scientist - bangalore' 'data scientist - telecom domain'
 'data scientist senior data scientist'
 'data scientist/algorithm model developer'
 'data scientist - machine learning/nlp'
 'data scientist - data modelling - forecasting'
 'data scientist (big data)' 'data scientist (bangalore)']

## Let’s automatically normalize all “Data Scientist” variants in your dataset. 
### We’ll do this in a systematic way

In [76]:
ds_titles_mask  = df["job_title_cleaned"].str.contains("data scientist", na=False)
ds_varitaions = df.loc[ds_titles_mask, "job_title_cleaned"].unique()
print("All 'Data scientist' variations: \n", ds_varitaions)

All 'Data scientist' variations:
 ['lead data scientist' 'data scientist / bangalore'
 'data scientist/vba programming/r programming/fmcg-cpg/bangalore'
 'data scientist - machine learning'
 'data scientist partners for start-up' 'data scientist'
 'director - data scientist - nlp/r/sas' 'senior data scientist'
 'data scientist-machine learning' 'big data scientist'
 'data scientist big data ml' 'excellent opportunity for data scientist'
 'nlp data scientist' 'data scientist (machine learning)'
 'principal data scientist' 'data scientist machine learning'
 'data scientist - bangalore' 'data scientist - telecom domain'
 'senior data scientist / algorithms specialist'
 'data scientist senior data scientist' 'senior engineer data scientist'
 'chief data scientist' 'data scientist/algorithm model developer'
 'data scientist - machine learning/nlp'
 'data scientist - data modelling - forecasting'
 'principle statistician / data scientist' 'data scientist (big data)'
 'principle statistician / data scientist - advanced analytics'
 'lead - data scientist - r / python/ scala- iit / iiit / nit, iisc'
 'data scientist (bangalore)' 'developer engineer and data scientist']

In [77]:
ds_mapping = {title: "data scientist" for title in ds_varitaions}
df['job_title_cleaned'] = df['job_title_cleaned'].replace(ds_mapping)

In [78]:
# Check unique job titles again
print(df['job_title_cleaned'].value_counts().head(20))

job_title_cleaned
business development manager                                              101
business development executive                                             96
software engineer                                                          88
android developer                                                          77
php developer                                                              72
project manager                                                            71
web designer                                                               69
content writer                                                             68
java developer                                                             61
sales executive                                                            60
senior software engineer                                                   60
dot net developer                                                          55
marketing executive                                                        52
ios developer                                                              52
sales manager                                                              52
medical coding transcription - we will help you out - wtsap 9789004777     47
graphic designer                                                           42
data scientist                                                             40
business analyst                                                           36
software developer                                                         34
Name: count, dtype: int64

In [79]:

# Check only Data Scientist now
print(df[df['job_title_cleaned'] == 'data scientist'].shape[0])

40

In [80]:
data_scientist_jobs = df['job_title_cleaned'][df['job_title_cleaned'].str.startswith('data scientist', na=False)]
print(data_scientist_jobs.unique())

['data scientist']

# Result
All senior, junior, lead, or other variations of Data Scientist are now grouped under data scientist.
Makes aggregation and salary analysis much cleaner.
we can repeat this for other roles like Software Engineer, Frontend Engineer, Backend Engineer, etc., by changing the keyword in str.contains().

In [66]:
# print(df["job_title"].unique())
# print(df["job_title"].value_counts())
# job_title_counts = df['job_title'].value_counts()

# job_title_counts.to_csv("job_title_counts.csv", header=True)

In [81]:

import pandas as pd
import re

# 1️⃣ Normalize text: lowercase, remove symbols, strip spaces
df['job_title_cleaned'] = df['job_title'].str.lower()
df['job_title_cleaned'] = df['job_title_cleaned'].str.replace(r'[^a-z0-9\s]', '', regex=True)
df['job_title_cleaned'] = df['job_title_cleaned'].str.strip()

# 2️⃣ Remove senior/junior/lead/principal/associate prefixes
seniority_words = ['sr', 'senior', 'jr', 'junior', 'lead', 'principal', 'associate', 'trainee']
pattern = r'\b(?:' + '|'.join(seniority_words) + r')\b'
df['job_title_cleaned'] = df['job_title_cleaned'].str.replace(pattern, '', regex=True)
df['job_title_cleaned'] = df['job_title_cleaned'].str.replace(r'\s+', ' ', regex=True).str.strip()  # remove extra spaces

# 3️⃣ Remove numbers, emails, and contact info
df['job_title_cleaned'] = df['job_title_cleaned'].str.replace(r'\d+', '', regex=True)  # remove digits
df['job_title_cleaned'] = df['job_title_cleaned'].str.replace(r'\S+@\S+', '', regex=True)  # remove emails
df['job_title_cleaned'] = df['job_title_cleaned'].str.strip()

# 4️⃣ Truncate very long titles to first 6 words (optional)
df['job_title_cleaned'] = df['job_title_cleaned'].apply(lambda x: ' '.join(x.split()[:6]))

# 5️⃣ Keyword mapping: normalize common roles
role_keywords = {
    'data scientist': 'Data Scientist',
    'machine learning': 'Data Scientist',
    'ai engineer': 'Data Scientist',
    'software engineer': 'Software Engineer',
    'developer': 'Software Engineer',
    'full stack': 'Full Stack Engineer',
    'frontend': 'Frontend Engineer',
    'backend': 'Backend Engineer',
    'ios': 'iOS Developer',
    'android': 'Android Developer',
    'web designer': 'Web Designer',
    'graphic designer': 'Graphic Designer',
    'ui': 'UI Developer',
    'php': 'PHP Developer',
    'java': 'Java Developer',
    'dot net': '.NET Developer',
    'project manager': 'Project Manager',
    'product manager': 'Product Manager',
    'business development': 'Business Development',
    'business analyst': 'Business Analyst',
    'marketing': 'Marketing',
    'sales': 'Sales',
    'hr': 'HR',
    'accountant': 'Accountant',
    'devops': 'DevOps Engineer',
    'network': 'Network Engineer',
    'technical writer': 'Technical Writer',
    'system administrator': 'System Administrator',
    'analyst': 'Analyst',
    'associate consultant': 'Associate Consultant',
    'quality assurance': 'Quality Assurance'
    # Add more keywords if needed
}

def map_job_title(title):
    for keyword, standard in role_keywords.items():
        if keyword in title:
            return standard
    return title.title()  # fallback: keep remaining text in title-case

df['job_title_cleaned'] = df['job_title_cleaned'].apply(map_job_title)

In [82]:

# 6️⃣ Verify results
print(df[['job_title', 'job_title_cleaned']].head(20))
print(df['job_title_cleaned'].value_counts().head(20))

                                            job_title  \
0            Walkin Data Entry Operator (night Shift)
1                  Work Based Onhome Based Part Time.
2                              Pl/sql Developer - SQL
3              Manager/ad/partner - Indirect Tax - CA
4                     JAVA Technical Lead (6-8 yrs) -
5   WALK IN - As400 Developer - Pfsweb Global Serv...
6                                       PHP Developer
7   Member Technical Staff-wire Harness/cable Harn...
8                                         Team Leader
9                                   German Translator
10                       Business Development Manager
11    Opening for Android Developer-bangalore-4-8 yrs
12         Full Stack Web Application (php) Developer
13           Looking for an Application Engineer-fpga
14                                  Revenue Assurance
15  Senior Java Full Stack Developer - Java/ Spring 4
16                               Data Entry Executive
17                PHP Developer_banashankari II Stage
18  Bluetooth Host Software Development Engineer -...
19                               E-commerce Executive

                                    job_title_cleaned
0              Walkin Data Entry Operator Night Shift
1                   Work Based Onhome Based Part Time
2                                   Software Engineer
3                    Manageradpartner Indirect Tax Ca
4                                      Java Developer
5                                   Software Engineer
6                                   Software Engineer
7   Member Technical Staffwire Harnesscable Harnes...
8                                         Team Leader
9                                   German Translator
10                               Business Development
11                                  Software Engineer
12                                  Software Engineer
13            Looking For An Application Engineerfpga
14                                  Revenue Assurance
15                                  Software Engineer
16                               Data Entry Executive
17                                  Software Engineer
18  Bluetooth Host Software Development Engineer A...
19                                Ecommerce Executive
job_title_cleaned
Software Engineer                                                     3273
Sales                                                                 1494
UI Developer                                                          1033
Marketing                                                              635
Analyst                                                                568
Business Development                                                   542
HR                                                                     325
Java Developer                                                         306
Project Manager                                                        179
Network Engineer                                                       164
Business Analyst                                                       137
Web Designer                                                           131
Accountant                                                              98
Graphic Designer                                                        94
Product Manager                                                         90
Content Writer                                                          75
Data Scientist                                                          61
Medical Coding Transcription We Will Help You Out Wtsap 9789004777      47
PHP Developer                                                           46
.NET Developer                                                          46
Name: count, dtype: int64

In [83]:
print(df['job_title_cleaned'].value_counts().tail(30))
# print(df['job_title'].value_counts().tail(30))

job_title_cleaned
It Engineer Noida Urgent                                                 1
Fresher Ca Jobbig 4 Shared Services Gurgaoninterview 4Th5Th Feb          1
Eeg Engineer                                                             1
Eng Eng R D                                                              1
Mega Walkins For Education Counsellor Executive At Magnious Solutions    1
Peoplesoft Database Administrator                                        1
Interior Draughtsman                                                     1
Desktop Supportgurgaon                                                   1
Head Visualizer                                                          1
Reqd Finance Manager With 15 Years Experience For Garment Industry       1
Managerbusiness Ops                                                      1
Group Manager Fundamental Research New Search                            1
Domestic Bpo International Bpo Cce Chat Process                          1
International Travel Consultant And Gds Amber965484841401142603383       1
Hiring For Fresher International Bpo In Voice Process Call 8586082750    1
Tech Web Linux Ubunto Platform                                           1
Receptionist Front Office Executive Assistant 01165001036 34             1
Security Officer Ghaziabad Gurgaon Ex Servicemen                         1
Opportunity To Work With Lexinnova Voice Process                         1
Hiring For Collection                                                    1
Dgca Bemac Ame Engineers                                                 1
Civil Engineer Civil Manager Maintenance Walkins 11Am 4Pm                1
Ar Callers                                                               1
Walk In Interview For Post Of Field Operation And Executive Research     1
Icwacma Must Have Worked On Fico Module On Sap In Manufacturing          1
Avpstrategic Accounts                                                    1
Executive Assistant Female Gurgaon                                       1
Faculty Positions Gems Jewelry                                           1
Vehicle Incharge For A Manufacturing Industry Hubli                      1
Rf Firmware Engineers                                                    1
Name: count, dtype: int64

In [86]:
job_title_counts = df['job_title_cleaned'].value_counts()

job_title_counts.to_csv("job_title_counts.csv", header=True)

In [91]:
print(df.columns)
# Check if both columns are exactly the same
are_equal = df['job_title_cleaned'].equals(df['job_title_Cleaned'])
print(are_equal)

# Show rows where they differ
diff_rows = df[df['job_title_cleaned'] != df['job_title_Cleaned']]
print(diff_rows[['job_title_cleaned', 'job_title_Cleaned']])

Index(['company', 'education', 'experience', 'industry', 'description',
       'jobid', 'location', 'num_positions', 'salary', 'date_posted', 'source',
       'skills', 'id', 'salary_cleaned', 'job_title_cleaned',
       'job_title_Cleaned'],
      dtype='object')
False
                                       job_title_cleaned  \
0                 Walkin Data Entry Operator Night Shift
1                      Work Based Onhome Based Part Time
2                                      Software Engineer
3                       Manageradpartner Indirect Tax Ca
4                                         Java Developer
...                                                  ...
21995  Quality Assurance Vp With Morgan Stanley Banga...
21996                                  Software Engineer
21997                                Full Stack Engineer
21998                                  Software Engineer
21999                              Rf Firmware Engineers

                                       job_title_Cleaned
0                 walkin data entry operator night shift
1                      work based onhome based part time
2                                   plsql developer  sql
3                     manageradpartner  indirect tax  ca
4                            java technical lead 68 yrs
...                                                  ...
21995  quality assurance  vp with morgan stanley bang...
21996      java backend developers for a product company
21997                    full stack development engineer
21998  sr ui developer technical lead  html css javas...
21999                              rf firmware engineers

[22000 rows x 2 columns]

In [88]:
df.to_csv("day2_cleaned.csv", index=False)