In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
path = "day2_cleaned.csv"
df = pd.read_csv(path)
print(df.head())
# print(df.info())

                                      company  \
0                            MM Media Pvt Ltd
1                          find live infotech
2         Softtech Career Infosystem Pvt. Ltd
3                      Onboard HRServices LLP
4  Spire Technologies and Solutions Pvt. Ltd.

                                           education   experience  \
0  UG: B.Tech/B.E. - Any Specialization PG:Any Po...    0 - 1 yrs
1  UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...    0 - 0 yrs
2  UG: Any Graduate - Any Specialization PG:Any P...    4 - 8 yrs
3  UG: Any Graduate - Any Specialization PG:CA Do...  11 - 15 yrs
4  UG: B.Tech/B.E. - Any Specialization PG:Any Po...    6 - 8 yrs

                                   industry  \
0          Media / Entertainment / Internet
1  Advertising / PR / MR / Event Management
2           IT-Software / Software Services
3    Banking / Financial Services / Broking
4           IT-Software / Software Services

                                         description         jobid  \
0  Job Description   Send me Jobs like this Quali...  210516002263
1  Job Description   Send me Jobs like this Quali...  210516002391
2  Job Description   Send me Jobs like this - as ...  101016900534
3  Job Description   Send me Jobs like this - Inv...   81016900536
4  Job Description   Send me Jobs like this Pleas...  120916002122

                                            location  \
0                                            Chennai
1                                            Chennai
2                                          Bengaluru
3  Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...
4                                          Bengaluru

                                  job_title  num_positions  \
0  Walkin Data Entry Operator (night Shift)            NaN
1        Work Based Onhome Based Part Time.           60.0
2                    Pl/sql Developer - SQL            NaN
3    Manager/ad/partner - Indirect Tax - CA            NaN
4           JAVA Technical Lead (6-8 yrs) -            4.0

                           salary                date_posted source  \
0         1,50,000 - 2,25,000 P.A  2016-05-21 19:30:00 +0000    NaN
1  1,50,000 - 2,50,000 P.A. 20000  2016-05-21 19:30:00 +0000    NaN
2      Not Disclosed by Recruiter  2016-10-13 16:20:55 +0000    NaN
3      Not Disclosed by Recruiter  2016-10-13 16:20:55 +0000    NaN
4      Not Disclosed by Recruiter  2016-10-13 16:20:55 +0000    NaN

                                  skills                                id  \
0                                   ITES  43b19632647068535437c774b6ca6cf8
1                              Marketing  d4c72325e57f89f364812b5ed5a795f0
2  IT Software - Application Programming  c47df6f4cfdf5b46f1fd713ba61b9eba
3                               Accounts  115d28f140f694dd1cc61c53d03c66ae
4  IT Software - Application Programming  a12553fc03bc7bcced8b1bb8963f97b4

   salary_cleaned                         job_title_cleaned  \
0        187500.0  walkin data entry operator (night shift)
1        200000.0        work based onhome based part time.
2             NaN                    pl/sql developer - sql
3             NaN    manager/ad/partner - indirect tax - ca
4             NaN           java technical lead (6-8 yrs) -

                        job_title_Cleaned
0  walkin data entry operator night shift
1       work based onhome based part time
2                    plsql developer  sql
3      manageradpartner  indirect tax  ca
4             java technical lead 68 yrs